@charset "utf-8";

.contato {
    clear: left;
    background-color: white;
    color: black;
    font-size: 130%;
    text-align: center;
    border-radius: 10px;
}

section address {
    color: white;
    font-size: 150%;
    font-style: normal;
    text-align: center;
}

/* Formatação do mapa */

#mapa {
    text-align: center;
    background-color: white;
    border: 3px solid black;
}

/* Formatação do telefone */

#telefone {
    color: white;
    text-align: center;
    font-size: 130%;
}

#telefone a {
    text-decoration: none;
}

#telefone a:link {
    color: white;
    text-decoration: underline;
}

/* Configurações para a barra de menu no topo da página */
nav.horizontalNavigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
    }
    
    nav.horizontalNavigation li {
       background-color: black;
        color: white;
        width: 25%;
        display: block;
        float: left;
        text-align: center;
        padding: 1.23em 0em;
        margin-bottom: 2em;
    }
    
    nav.horizontalNavigation li:hover {
        color: #d36857;
        border-bottom: 4px solid #d36857;
    }

    nav a:link {
        text-decoration: none;
    }

    nav a:visited{
        color: white;
    }

    article img {
        width: 100%;;
    }
    
    header img {
        width: 100%;
    }

    /* Footer */

footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 5%;
}