@charset "utf-8";
/* Mobile Styles */
@media only screen and (max-width: 480px) {

/* Body */
body {
    background-color: #272b35;
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* Logo */

header a img {
    width: 100%;
}

/*Lista de navegação */
nav.horizontalNavigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
}
nav.horizontalNavigation li {
    background-color: black;
     color: white;
     display: block;
     text-align: center;
     padding: 3%;
     width: 60%;
     margin-bottom: 3%;
     margin-left: auto;
     margin-right: auto;
     border-radius: 10px;
}

nav a:link {
    text-decoration: none;
    color: white;
}

nav a:visited{
    color: white;

}

.contato {
    background-color: #272b35;
    text-align: center;
    color: white;
    font-size: 150%;
}

section p {
    background-color: white;
    color: black;
    margin-bottom: 10%;
    box-shadow: rgba(24, 24, 24, 0.5) 5px 5px 5px 5px
}

section address {
    background-color: white;
    color: black;
    margin-bottom: 10%;
    box-shadow: rgba(24, 24, 24, 0.5) 5px 5px 5px 5px
}



#telefone {
    text-align: center;
}

/* Footer */

footer {
    background-color: black;
    color: white;
    font-size: 100%;
    margin-top: 10%;
}

}

/* Desktop Styles */
@media only screen and (min-width: 769px) {
.contato {
    clear: left;
    background-color: white;
    color: black;
    font-size: 130%;
    text-align: center;
    border-radius: 10px;
}

section address {
    color: white;
    font-size: 150%;
    font-style: normal;
    text-align: center;
}

/* Formatação do mapa */

#mapa {
    text-align: center;
    background-color: white;
    border: 3px solid black;
}

/* Formatação do telefone */

#telefone {
    color: white;
    text-align: center;
    font-size: 130%;
}

#telefone a {
    text-decoration: none;
}

#telefone a:link {
    color: white;
    text-decoration: underline;
}

/* Configurações para a barra de menu no topo da página */
nav.horizontalNavigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
    }
    
    nav.horizontalNavigation li {
       background-color: black;
        color: white;
        width: 25%;
        display: block;
        float: left;
        text-align: center;
        padding: 1.23em 0em;
        margin-bottom: 2em;
    }
    
    nav.horizontalNavigation li:hover {
        color: #d36857;
        border-bottom: 4px solid #d36857;
    }

    nav a:link {
        text-decoration: none;
    }

    nav a:visited{
        color: white;
    }

    article img {
        width: 100%;;
    }
    
    header img {
        width: 100%;
    }

    /* Footer */

footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 5%;
}
}