@charset "utf-8";

/* Mobile Styles */
@media only screen and (max-width: 480px) {

/* Body */
body {
    background-color: #272b35;
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* Logo */

header a img {
    width: 100%;
}

/* Imagens */

figure img {
    width: 50%;
    border: 2px solid white;
}

/*Lista de navegação */
nav.horizontalNavigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
}
nav.horizontalNavigation li {
    background-color: black;
     color: white;
     display: block;
     text-align: center;
     padding: 3%;
     width: 60%;
     margin-bottom: 3%;
     margin-left: auto;
     margin-right: auto;
     border-radius: 10px;
}

nav a:link {
    text-decoration: none;
    color: white;
}

nav a:visited{
    color: white;

}

/* Drop Caps */
#servicos:first-of-type::first-letter {
    font-size: 3em;
    line-height: 0.05;
    font-family: 'Monoton', cursive;
}

/* Sobre nossos serviços */

#servicos {
    font-size: 100%;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 0%;
}

/* Nossa Companhia */

#artigoDaCompania {
    background-color: white;
    color: black;
    box-shadow: rgba(24, 24, 24, 0.5) 5px 5px 5px 5px;
}

#nossaCompania {
    color: #6b483d;
    padding: 5%;

}

#artigoDaCompania p {
    padding: 5%;
}

figure img{
    width: 125%;
    margin-left: -13%;
}

/* Sobre nosso site */

#div h2 {
    text-align: center;
}

section article {
    background-color: white;
    color: black;
    margin-bottom: 10%;
    box-shadow: rgba(24, 24, 24, 0.5) 5px 5px 5px 5px;
}

section article p {
    padding: 5%;
}

section article h3 {
    padding: 5%
}

/* Frequent asked questions */

aside {
    background-color: white;
    color: black;
    box-shadow: rgba(24, 24, 24, 0.5) 5px 5px 5px 5px
}

aside h1 {
    padding-top: 3%;
    font-size: 100%;
    text-align: center;

}

aside h3 {
    font-size: 80%;
    padding-left: 8%;
}

aside p{
    font-size: 90%;
    padding: 8%;
}

/* Footer */

footer {
    background-color: black;
    color: white;
    font-size: 100%;
    margin-top: 10%;
}

}

/* Desktop Styles */
@media only screen and (min-width: 769px) {

body {
background-color: #272b35;
color: white;
font-family: 'Poppins', sans-serif;

}

/* Configurações para a barra de menu no topo da página */
nav.horizontalNavigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
    }
    
    nav.horizontalNavigation li {
       background-color: black;
        color: white;
        width: 25%;
        display: block;
        float: left;
        text-align: center;
        padding: 1.23em 0em;
        margin-bottom: 2em;
    }
    
    nav.horizontalNavigation li:hover {
        color: #d36857;
        border-bottom: 4px solid #d36857;
    }

    nav a:link {
        text-decoration: none;
    }

    nav a:visited{
        color: white;
    }

/* Imagens */

figure img {
    width: 100%;
    border: 2px solid white;
}

header a img{
    width: 100%;
}


/* Drop Caps */
#servicos:first-of-type::first-letter {
    font-size: 3em;
    line-height: 0.05;
    font-family: 'Monoton', cursive;
    text-align: center;
}

/*Formatação de fontes */

h1,h2 {
    background-color: black;
    color: white;
    text-align: center;
    border: 2x solid white;
}

h3 {
    text-align: center;
    color: white;
}

/* Parágrafo */

p {
    padding: 5%;
}

/* Sobre nossos serviços */

#servicos {
    clear: left;
    font-size: 180%;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 0%;
}

/* FAQ */

aside > h3{
    color: black;
    background-color: white;
}

aside > p {
    color: black;
    background-color: white;
}

/* Footer */

footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}

}
