@charset "utf-8";

/* Mobile Styles */
@media only screen and (max-width: 480px) {
    
/* Body */
body {
    background-color: #272b35;
    color: white;
    font-family: 'Poppins', sans-serif;
}



/*Menu de Navegação */
nav.horizontalNavigation ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 2em;
}
nav.horizontalNavigation li {
        background-color: black;
         color: white;
         display: block;
         text-align: center;
         padding: 3%;
         width: 60%;
         margin-bottom: 3%;
         margin-left: auto;
         margin-right: auto;
         border-radius: 10px;
}
    
nav a:link {
        text-decoration: none;
        color: white;
}
    
nav a:visited{
        color: white;
    
}   

/* Logo */

header a img {
    width: 100%;
}

/* Imagens */

section article img{
    width: 100%;
}

/* Articles */
article {
    background-color: white;
    color: black;
    margin-bottom: 5%;
    box-shadow: rgba(24, 24, 24, 0.5) 5px 5px 5px 5px;
}

article p {
    padding: 5%;
}

/* Footer */

footer {
    background-color: black;
    color: white;
    font-size: 100%;
    margin-top: 10%;
}

}


/* Desktop Styles */
@media only screen and (min-width: 769px) {

/* Configurações para a barra de menu no topo da página */
nav.horizontalNavigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
    }
    
    nav.horizontalNavigation li {
       background-color: black;
        color: white;
        width: 25%;
        display: block;
        float: left;
        text-align: center;
        padding: 1.23em 0em;
        margin-bottom: 2em;
    }
    
    nav.horizontalNavigation li:hover {
        color: #d36857;
        border-bottom: 4px solid #d36857;
    }

    nav a:link {
        text-decoration: none;
    }

    nav a:visited{
        color: white;
    }

    article img {
        width: 100%;;
    }
    

    /* Grid */


body header {
    display: grid;
    grid-template-columns: 1fr;
}

body > header {
    grid-row: 1;
    grid-column: 1/-1;
}

section article {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Imagens */

header img {
    width: 100%;
}

section article img {
    border: 4px solid #c88859;
}


/* Configurações da página */

body {
    background-color: #272b35;
}

/* Footer */

footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

/* Configurações da Fonte */

body {
    font-family: 'Poppins', sans-serif;
}

article p {
    font-size: 150%;
    color:black;
    margin-top: 30%;
    padding-right: 10%;
    padding-left: 10%;

 
}

section {
    background-color: white;
}

}